extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-12
                h1.text-center #{pageTitle}
                include ../layout/partials/testimonials
            .col-md-12
                h2.text-center Add Testimonial
                if(errors)
                    each error in errors
                        .alert.alert-danger.text-center=error.message
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimonials", method="POST")
                            .form-group
                                label(for="") Name
                                input(class="form-control", id="name", type="text", placeholder="Your Name", name="name", value=name)
                            .form-group 
                                label(for="") Email
                                input(class="form-control", type="email", name="email", id="email", placeholder="Your Email", value=email)
                            .form-group
                                label(for="") Message
                                textarea#message(class="form-control",name="message",rows="3")=message
                            input.btn.btn-success.btn-block(type="submit", value="Add Testimonials")
                    .col-md-4    
            